{% extends 'allianceauth/base.html' %}
{% load i18n %}

{% block page_title %}{% translate "Mining Ops" %}{% endblock %}

{% block content %}
    <div class="allianceauth-mining-op-plugin">
        <h1 class="page-header text-center">{% translate "Mining Ops" %}</h1>

        {% block details %}{% endblock %}
    </div>
{% endblock %}
