{% extends 'miningop/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}

    {% if missing_tokens %}
        <div class="alert alert-danger" style="display: flex; align-items: center; justify-content: space-between;">
            <div>
                <div>{% trans "You do not have a mining ledger token on the following accounts:" %}</div>
                <div>{{ missing_tokens }}</div>
            </div>

            <form method="POST">
                {% csrf_token %}

                <button type="submit" class="btn btn-info" formaction="{% url 'miningop:authenticate_index' %}">
                    {% trans "Authenticate" %}
                </button>
            </form>
        </div>
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading" style="display: flex; align-items: center; justify-content: space-between;">
            <h3 class="panel-title">Active Mining Ops</h3>

            {% if can_manage %}
                <form method="POST">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-sm btn-info" formaction="{% url 'miningop:create' %}">
                        {% trans "Create op" %}
                    </button>
                </form>
            {% endif %}
        </div>
        <div class="panel-body" style="min-height: 100px;">
            {% if active_mining_ops %}
                <div class="table-responsive">
                    <table class="table mining-op-list">
                        <thead>
                            <th class="text-center">{% trans "Fleet Commander" %}</th>
                            <th class="text-center">{% trans "Operation Status" %}</th>
                            <th class="text-center">{% trans "Created" %}</th>
                            <th class="text-center">{% trans "Started" %}</th>
                            <th class="text-center">{% trans "Completed" %}</th>
                            <th></th>
                        </thead>

                        <tbody>
                        {% for mining_op in active_mining_ops %}
                            <tr>
                                <td class="text-center" style="vertical-align: middle;">
                                    {% if mining_op.fleet_commander.alliance_ticker %}
                                        {{ mining_op.fleet_commander.alliance_ticker }}
                                    {% endif %}
                                    [{{ mining_op.fleet_commander.corporation_ticker }}]
                                    {{ mining_op.fleet_commander.character_name }}
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    {{ mining_op.status }}
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    {{ mining_op.created_at | date:"Y-M-d H:i" }}
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    {{ mining_op.started_at | date:"Y-M-d H:i" }}
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    {{ mining_op.completed_at | date:"Y-M-d H:i" }}
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'miningop:view' mining_op_id=mining_op.id %}" class="btn btn-sm btn-info">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning text-center">
                    {% trans "No active mining ops currently." %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Mining Ops history</h3>
        </div>
        <div class="panel-body" style="min-height: 100px;">
            {% if inactive_mining_ops %}
                <div class="table-responsive">
                    <table class="table mining-op-list">
                        <thead>
                            <th class="text-center">{% trans "Fleet Commander" %}</th>
                            <th class="text-center">{% trans "Operation Status" %}</th>
                            <th class="text-center">{% trans "Created" %}</th>
                            <th class="text-center">{% trans "Started" %}</th>
                            <th class="text-center">{% trans "Completed" %}</th>
                            <th></th>
                        </thead>

                        <tbody>
                        {% for mining_op in inactive_mining_ops %}
                            <tr>
                                <td class="text-center" style="vertical-align: middle;">
                                    {% if mining_op.fleet_commander.alliance_ticker %}
                                        {{ mining_op.fleet_commander.alliance_ticker }}
                                    {% endif %}
                                    [{{ mining_op.fleet_commander.corporation_ticker }}]
                                    {{ mining_op.fleet_commander.character_name }}
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    {{ mining_op.status }}
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    {{ mining_op.created_at | date:"Y-M-d H:i" }}
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    {{ mining_op.started_at | date:"Y-M-d H:i" }}
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    {{ mining_op.completed_at | date:"Y-M-d H:i" }}
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'miningop:view' mining_op_id=mining_op.id %}" class="btn btn-sm btn-info">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning text-center">
                    {% trans "No mining ops yet." %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
