{% extends 'miningop/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}

    {% if missing_tokens %}
        <div class="alert alert-danger" style="display: flex; align-items: center; justify-content: space-between;">
            <div>
                <div>{% trans "You do not have a mining ledger token on the following accounts:" %}</div>
                <div>{{ missing_tokens }}</div>
            </div>

            <form method="POST">
                {% csrf_token %}

                <button type="submit" class="btn btn-info" formaction="{% url 'miningop:authenticate_view' mining_op_id=mining_op.id %}">
                    {% trans "Authenticate" %}
                </button>
            </form>
        </div>
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading" style="display: flex; align-items: center; justify-content: space-between;">
            <h3 class="panel-title">{% trans "Information" %}</h3>

            {% if can_manage and not mining_op.completed_at %}
                <form method="POST">
                    {% csrf_token %}

                    {% if not mining_op.started_at %}
                        <button type="submit" class="btn btn-sm btn-info" formaction="{% url 'miningop:start' mining_op_id=mining_op.id %}">
                            {% trans "Start op" %}
                        </button>
                    {% endif %}

                    {% if mining_op.started_at and not mining_op.completed_at %}
                        <button type="submit" class="btn btn-sm btn-info" formaction="{% url 'miningop:refresh' mining_op_id=mining_op.id %}" style="margin-right: 10px;">
                            {% trans "Refresh op" %}
                        </button>

                        <button type="submit" class="btn btn-sm btn-info" formaction="{% url 'miningop:complete' mining_op_id=mining_op.id %}">
                            {% trans "End op" %}
                        </button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
        <div class="panel-body" style="min-height: 100px;">
            <div class="row">
                <div class="col-xs-4">
                    <strong>{% trans "Fleet commander" %}</strong>
                    <p>
                        {% if mining_op.fleet_commander.alliance_ticker %}
                            {{ mining_op.fleet_commander.alliance_ticker }}
                        {% endif %}
                        [{{ mining_op.fleet_commander.corporation_ticker }}]
                        {{ mining_op.fleet_commander.character_name }}
                    </p>
                </div>

                <div class="col-xs-4">
                    <strong>{% trans "Operation Status" %}</strong>
                    <p>{{ mining_op.status }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <strong>{% trans "Created" %}</strong>
                    <p>{{ mining_op.created_at | date:"Y-M-d H:i" }}</p>
                </div>

                <div class="col-xs-4">
                    <strong>{% trans "Started" %}</strong>
                    <p>{{ mining_op.started_at | date:"Y-M-d H:i" }}</p>
                </div>

                <div class="col-xs-4">
                    <strong>{% trans "Completed" %}</strong>
                    <p>{{ mining_op.completed_at | date:"Y-M-d H:i" }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" style="display: flex; align-items: center; justify-content: space-between;">
            <h3 class="panel-title">{% trans "Members" %}</h3>

            {% if update_timedelta %}
                <div>
                    <span>{% trans "Next update in " %}</span>
                    <span id="countdown" attr-seconds="{{ update_timedelta }}" attr-interval="{{ update_interval }}">
                        {{ update_timedelta }} {% trans "seconds" %}
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="panel-body" style="min-height: 100px;">
            {% if mining_op.members.exists %}
                <div class="table-responsive">
                    <table class="table mining-op-list">
                        <thead>
                            <th class="text-center">{% trans "Member" %}</th>
                            <th class="text-center">{% trans "Joined" %}</th>
                            <th class="text-center">{% trans "Status" %}</th>
                            <th class="text-center">{% trans "Units mined" %}</th>
                            <th class="text-center">{% trans "Payout" %}</th>
                            <th></th>
                        </thead>

                        <tbody>
                        {% for member in mining_op.members.all %}
                            <tr>
                                <td class="text-center">
                                    {% if member.character.alliance_ticker %}
                                        {{ member.character.alliance_ticker }}
                                    {% endif %}
                                    [{{ member.character.corporation_ticker }}]
                                    {{ member.character.character_name }}
                                </td>
                                <td class="text-center">
                                    {{ member.created_at | date:"Y-M-d H:i" }}
                                </td>
                                <td class="text-center">
                                    {% if not member.ledger_token %}
                                        <span class="text-danger">{% trans "No valid tokens" %}</span>
                                    {% elif member.initial_ledger is None %}
                                        <span class="text-warning">{% trans "No initial ledger" %}</span>
                                    {% else %}
                                        <abbr title="Initial ledger fetched at {{ member.initial_ledger_fetched_at | date:'Y-M-d H:i' }}" class="text-success">{% trans "Good to go" %}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {{ member.ledger_diff.total_units | intcomma }}
                                </td>
                                <td class="text-center">
                                    {{ member.ledger_diff.total_payout | floatformat:0 | intcomma }} ISK
                                </td>
                                <td class="text-center">
                                    <a href="#details-{{ member.id }}" data-toggle="collapse">
                                        {% trans "Details" %}
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="6" style="padding: 0;">
                                    <div class="collapse" id="details-{{ member.id }}">
                                        {% if is_night_mode %}
                                            <div class="row" style="background-color: rgb(66, 66, 66); padding-top: 10px; margin: 0;">
                                        {% else %}
                                            <div class="row" style="background-color: rgb(240, 240, 240); padding-top: 10px; margin: 0;">
                                        {% endif %}
                                            {% for detail in member.ledger_diff.details %}
                                                <div class="col-xs-3" style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
                                                    <img src="https://images.evetech.net/types/{{ detail.type_id }}/icon" alt="{{ detail.name }}" height="48" width="48" />

                                                    <div style="margin-left: 20px; font-size: 0.8em;">
                                                        <div>{{ detail.name }}</div>
                                                        <div>{{ detail.volume | floatformat:2 | intcomma }} m&sup3;</div>
                                                        <div>{{ detail.price_total | floatformat:0 | intcomma }} ISK</div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            {% if not member.ledger_diff.details %}
                                                <p class="text-center text-muted"><i>{% trans "No mining done yet." %}</i></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                            <tr>
                                <td colspan="6">
                                    <hr />
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    {% trans "Total" %}
                                </td>
                                <td></td>
                                <td></td>
                                <td class="text-center">
                                    {{ mining_op.total_units | intcomma }}
                                </td>
                                <td class="text-center">
                                    {{ mining_op.total_payout | floatformat:0 | intcomma }} ISK
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning text-center">
                    {% trans "No members yet." %}
                </div>
            {% endif %}
        </div>
    </div>

    <script type="application/javascript">
        function update(secondsToUpdate) {
            var duration = '';
            if (secondsToUpdate > 60) {
                var minutes = Math.floor(secondsToUpdate / 60);
                var seconds = secondsToUpdate % 60;
                duration = minutes + ' minute' + (minutes > 1 ? 's' : '') + ', ' + seconds + ' second' + (seconds > 1 ? 's' : '');
            } else {
                duration = secondsToUpdate + ' second' + (secondsToUpdate > 1 ? 's' : '');
            }

            countdown.innerHTML = duration;
        }

        function start() {
            var countdown = document.getElementById('countdown');
            if (!countdown) return;

            var secondsToUpdate = parseInt(countdown.getAttribute('attr-seconds'), 10);
            var updateInterval = parseInt(countdown.getAttribute('attr-interval'), 10);

            update(secondsToUpdate);

            setInterval(function() {
                update(secondsToUpdate);
                secondsToUpdate--;

                if (secondsToUpdate <= 0) secondsToUpdate = updateInterval;
            }, 1000);
        }

        start();
    </script>

{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
